html {
    font-family: "Lucida Sans", sans-serif;
}

body{
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    /* background: #372B47; */
}

h3{
    font: lighter;
}

.container-fluid{
    justify-content: center;
    text-align: center;
    color: rgba(22, 21, 21, 0.919);
    flex-direction: column;
    border-radius: 2px;
    border: 2px solid #4C7F94;
    height: 500px;
    width: 450px;
    margin-left: 35%;
    margin-top: 5%;
    padding: 5px;
}

#entry{
    justify-content: center;
    border: 2px solid #4C7F94;
    padding: 20px 20px 0 0;
}
/* .text{
    margin-top: 25%;
    color: #372B47;
    justify-content: center;
    text-align: left;
    font-size: 18px;
} */
#result{
    box-sizing: border-box;
    padding: 20px 20px 0 0;
    justify-content: center;
    text-align: center;
    margin-right: 18%;
    border: 2px solid #4C7F94;
}
.btn{
    background: #4C7F94;
    margin-top: 10%;
    padding: 10px;
    font-weight: bolder;
    font-size: large;
}
